node_modules/
lib/
release/
.idea/
.vscode/
.DS_Store
build/
.env
.settlusd
.testnets/
.deps

# ignite generated
ts-client/

tmp-swagger-gen
swagger-proto

# Build
vendor
/build
dist

# Go
go.work
go.work.sum
