name: CI
#  This workflow is run on pushes to main & every Pull Requests except changes to tools/interop-node.
on:
  pull_request:
    paths-ignore:
      - 'tools/interop-node/**'
  push:
    branches:
      - main
      - release/**
    paths-ignore:
      - 'tools/interop-node/**'

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true
      - name: Lint
        uses: golangci/golangci-lint-action@v3.7.0
        with:
          version: latest
          # skip cache because of flaky behaviors
          skip-build-cache: true
          skip-pkg-cache: true

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true
      - name: Test
        run: make test

  build:
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: ${{ always() && (needs.lint.result == 'success' || needs.test.result == 'success') }}
    strategy:
      matrix:
        go-arch: ["amd64"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
            **/go.mod
            **/go.sum
            **/Makefile
            Makefile
      - name: Download Go Dependency
        if: env.GIT_DIFF
        run : go mod download
      - name: Build
        if: env.GIT_DIFF
        run: GOARCH=${{ matrix.go-arch }} make build
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.go-arch }}
          path: ./build/*
        if: env.GIT_DIFF && github.event_name != 'pull_request'
